<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatis.mapper.UserMapper">
    <select id="getAll" resultMap="userResultMap">
        select *
        from user;
    </select>
    <!--useGeneratedKeys使用自动生成的主键， keyProperty将主键赋值的对象 -->
    <insert id="insertUserUseGeneratedKeys" useGeneratedKeys="true" parameterType="UserDo" keyProperty="id">
        insert into user (name, email, phone, gmt_create, gmt_modified)
        values (#{name}, #{email}, #{phone}, NOW(), NOW())
    </insert>

    <insert id="batchInsert">
        insert int user values (name, email, phone, gmt_create, gmt_modified)
        <foreach collection="userDos" item="user" separator=",">
            (user.name, user.email, user.phone, NOW(), NOW())
        </foreach>
    </insert>

    <delete id="deleteByName">
        delete
        from user
        where name = #{name}
    </delete>

    <update id="update">
        update user
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="phone != null and phone != ''">phone = #{phone}</if>
        </set>
        where id = #{id}
    </update>

    <select id="queryByCondition" resultMap="userResultMap">
        select * from user
        <where>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="email != null and email != ''">and email = #{email}</if>
            <if test="phone != null and phone != ''">and phone = #{phone}</if>
        </where>
    </select>

    <select id="queryByPriorityCondition" resultMap="userResultMap">
        select * from user
        <where>
            <choose>
                <when test="id != null and id != ''">id=#{id}</when>
                <when test="name != null and name != ''">name = #{name}</when>
                <when test="email != null and email != ''">email = #{email}</when>
                <when test="phone != null and phone != ''">phone = #{phone}</when>
                <otherwise>1=1</otherwise>
            </choose>
        </where>
    </select>

    <delete id="deleteByIds">
        delete from user where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

    <resultMap id="userResultMap" type="UserDo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="gmt_create" column="gmtCreate"/>
        <result property="gmt_modified" column="gmtModified"/>
    </resultMap>
</mapper>